/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  color: rgb(238, 238, 238);
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  height: auto;
  max-width: 750px;
  padding: 70px;
  background-color: rgb(22, 22, 36);
  display: flex;
  flex-flow: nowrap column;
  gap: 50px;
}
.title {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 48px;
}
.title-name {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 48px;
  color: rgb(2, 158, 2);
}
.subtitle {
  font-size: 20px;
}
.list-game {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.list-element {
  max-width: 264px;
  max-height: 422px;
  overflow: auto;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.img-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0;
  position: 100;
  transition: opacity ease-in-out 300ms;
}
.game-img {
  transition: scale ease-in-out 300ms;
}
.img-container:hover {
  .img-overlay {
    opacity: 50%;
  }
  .game-img {
    scale: 1.1;
  }
}
.game-header {
  height: auto;
  display: flex; 

  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
}
.game-title {
  font-size: 20px;
  color: rgb(231, 231, 231);
  font-weight: 500;
  max-width: 230px;
  height: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 

}
.store-logo {
  font-size: 30px;
}
.game-url {
  background-color: black;
}
.prices {
  display: flex;
  height: 30px;
  padding-right: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(10, 9, 17);
}
.discount-price {
  padding: 5px 10px;
  font-size: 16px;
  background-color: rgb(170, 168, 29);
}
.initial-price {
  color: rgb(145, 145, 145);
  text-decoration: line-through aliceblue;
  font-size: 14px;
}
.final-price {
  color: rgb(2, 158, 2);
  font-weight: bold;
  font-size: 16px;
} */

body {
  padding: 0;
  margin: 0;
  color: rgb(238, 238, 238);
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  max-width: 750px;
  padding: 70px;
  background-color: rgb(22, 22, 36);
  gap: 50px;
}
.header {
  margin-bottom: 40px;
}
.title {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 48px;
}
.title-name {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 48px;
  color: rgb(2, 158, 2);
}
.subtitle {
  width: 100%;
  margin: 15px auto;
  font-size: 20px;
}
.list-game {
  width: 100%;
  display: block;
}
.list-element {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 264px;
  overflow: auto;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.game-header {
  height: auto;

  margin-bottom: 10px;
  overflow: hidden;
}

.game-title {
  font-size: 20px;
  color: rgb(231, 231, 231);
  font-weight: 500;
  height: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.prices {
  position: relative;
  height: 30px;
  padding-right: 10px;
  background-color: rgb(10, 9, 17);
  border-radius: 2px;
}
.discount-price {
  position: absolute;
  bottom: 0;
  display: inline;
  padding: 5px;
  font-size: 16px;
  background-color: rgb(170, 168, 29);
}
.initial-price {
  position: absolute;
  bottom: 5;
  left: 70;
  display: inline;
  color: rgb(145, 145, 145);
  text-decoration: line-through aliceblue;
  font-size: 14px;
}
.final-price {
  position: absolute;
  right: 5;
  bottom: 5;
  display: inline;
  color: rgb(2, 158, 2);
  font-weight: bold;
  font-size: 16px;
}
